Hi <%= @recipient.first_name  %>,

<p>
Your friend, <%= @sender.first_name %>, just installed solar with Sunpro and thought you would be interested also.
</p>

<p><i> <%= @referral.message %> </i></p>

    -- <%= @sender.first_name %>
<br>

<p> <%= @sender.first_name %> also chose some reasons you might be interested in solar at Sunpro.  </p>

  <ul>
  <% @referral.customizations.each do |customization| %>
    <li> <i><%= customization.description %></i></li>
  <% end %>
</ul>

<p>
  Want to learn more about solar? Just <a href="http://bit.ly/146Hp53"> fill out this form</a>.
  Tell us your address and an estimate of your monthly utility bill and we can give you a personalized cost and payback assessment.
</p>

<br>
<br>
Thanks! <br>
The Sunpro team
<br>
<br>
----
<br>
Weave is a community of values-based healthy home and energy products. Checkout <a href="http://weaveenergy.com">weaveenergy.com</a> to learn more.
