Hi <%= @recipient.first_name  %>,

<p>
Your friend, <%= @sender.first_name %>, just made a values-based purchase at <%= @client %> and wanted to share why you would care as well:
</p>

<p><i> <%= @referral.message %> </i></p>

    -- <%= @sender.first_name %>
<br>

<p> <%= @sender.first_name %> also chose some reasons you might be interested in shopping at <%= @client %>: </p>

  <ul>
  <% @referral.customizations.each do |customization| %>
    <li> <i><%= customization.description %></i></li>
  <% end %>
</ul>
<p>
  As a thank you for learning about <a href="http://newliving.net">New Living,</a> we’re gifting you a <b>free plant that improves indoor air quality</b>. Please stop by New Living to pick one up -- just give the code <b>WEAVE</b> to the New Living associate.
</p>

<p>We’re located in Houston’s Rice Village, on Kirby between Rice Blvd and Times Blvd:</p>

<a href="http://goo.gl/maps/YITMQ">6111 Kirby Drive<br>
Houston Texas, 77005
</a>

<br>
Thanks!
The NewLiving team
