{{#if auths.facebook}}
  <a id="logout-facebook" {{action logoutClicked "facebook"}}>Facebook: Logout</a>
{{else}}
  <a id="login-facebook" {{action loginClicked "facebook"}}>Facebook: Login</a>
{{/if}}
{{#if auths.google}}
  <a {{action login "gmail"}}>Google: login</a>
{{else}}
  <a {{action logout "gmail"}}>Google: logout</a>
{{/if}}
