<div class="content">
  <h3>
    {{#if copy.client_1bog}}
      Invite Your Friends to Switch to Clean Solar Power!
    {{else}}
      Spread the love!
    {{/if}}
  </h3>
  <h4> {{#if copy.client_1bog}}
    <b>Get $400</b> for each referral that installs solar panels through 1BOG. <b>Solar is $0 down</b> with free installation from the industry’s top solar providers
    {{else}}
      {{copy.introMessage}}
    {{/if}}
  </h4>
  <div class="instructions">
    <ol>
      {{#if copy.client_newliving }}
      <li> Select something below that you think your friend would be interested in.</li>
      <li> Login via Facebook to select friends</li>
      <li> Personalize your message by explaining why they should care</li>
      {{/if}}
      {{# if copy.client_sunpro}}
      <li> Click "Tell a friend about Sunpro Solar" below </li>
      <li> Login via Facebook to select friends</li>
      <li> Personalize your message to help your friends understand why they should go solar with Sunpro </li>
      <li> Congrats on spreading solar!  </li>
      {{/if}}
      {{# if copy.client_1bog}}
      <li> Click "Tell a friend about Solar at One Block Off the Grid" below </li>
      <li> Login via Facebook to select friends</li>
      <li> Personalize your message to help your friends understand why they should go solar with 1BOG </li>
      <li> Energy savings for all your friends!</li>
      {{/if}}
    </ol>
  </div>

  <hr class="dashed">
    <ul class="products">
      {{#each product in content}}
      <li class="product"><a {{action startCampaignForProduct product}} class="product-link"> {{product.name}} </a></li>
      {{/each}}
    </ul>
  </div>
