<div {{bindAttr class="editingBody:visible:invisible"}}>
  <h2>Customize dat body</h2>
  <hr>
  {{view Ember.TextArea valueBinding="message" class="referral-content"}}
  {{view Weave.ReferralCustomizationsSelectView
    availableCustomizationsBinding=
    "avaliableCustomizations"
  customizationsBinding="customizations"}}
  message: {{message}}
  availableCustomizations:: {{availableCustomizations}}
</div>
<div {{bindAttr class="editingBody:invisible:visible"}}>
  <a {{action editBody this}}><h2>Customize dat body</h2></a>
</div>
