<div {{bindAttr class="editingBody:visible:invisible"}}>
  <h2>2. Finish your message.</h2>
  <hr>
  <h5>Personalize your referral by adding a short message to your friend, {{recipientFirstName}}.</h5>
  {{view Ember.TextArea valueBinding="message" class="referral-message"}}
  {{view Weave.ReferralCustomizationsSelectView
    availableCustomizationsBinding=
    "avaliableCustomizations"
  customizationsBinding="customizations"}}
  <br>
  {{! TODO(syu): though REALLY should be creating a user info for the recipient}}
  Your friend's email address:
  <br>
  {{view Ember.TextField valueBinding="recipient_email" label="Your friend's email address"}}
  <br>
  <a id="deliver-button" class='btn btn-primary' {{action deliverClicked this}}> Deliver! </a>
</div>

<div {{bindAttr class="editingBody:invisible:visible"}}>
  <a {{action editBody this}}><h2>2. Finish your message.</h2></a>
</div>
