<div {{bindAttr class="editingBody:visible:invisible"}}>
  <h2>Customize dat body</h2>
  <hr>
  {{view Ember.TextField valueBinding="content" class="referral-content"}}
  {{view Weave.ReferralCustomizationsSelectView customizationsBinding="customizations"}}
  content: {{content}}
</div>
<div {{bindAttr class="editingBody:invisible:visible"}}>
  <a {{action editBody this}}><h2>Customize dat body</h2></a>
</div>
