<%= form_for @campaign do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :outreach_email_content %><br />
    <%= f.text_field :outreach_email_content %>
  </p>
  <p>
    <%= f.label :sender_page_content %><br />
    <%= f.text_field :sender_page_content %>
  </p>
  <p>
    <%= f.label :recipient_page_content %><br />
    <%= f.text_field :recipient_page_content %>
  </p>
  <p>
    <%= f.label :live %><br />
    <%= f.check_box :live %>
  </p>
  <p><%= f.submit %></p>
<% end %>
