<!DOCTYPE html>
<html>
  <head>
    <title>NewLiving @ Weave</title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_tag do %>
      window._rails = <%=raw  @rails.to_json if @rails %>;
    <% end %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "testing_stubs" if Rails.env.test? %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    </body>
  </html>
