<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_tag do %>
      window.facebookToken = "<%=j current_user.authorizations.last.oauth_token if user_signed_in? %>";
      window.ember_params = "<%=j @ember_params if @ember_params %>"
    <% end %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "testing_stubs" if Rails.env.test? %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
        <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), id:'sign-in-facebook'%>
  </body>
</html>
